.gyd {
  background-color: #EEEEEE;
}

.gyd1 {
  padding: 64px 0;
}

.gyd2 {
  margin: auto;
  position: relative;
}

.gyd > h2 {
  margin-bottom: 42px;
}

.line {
  color: #e03c31;
    font-size: 2.9999999999999996rem;
    text-align: center;
    font-weight: 600;
    line-height: 72px;
}

.gyd3 {
  width: 100%;
}

.gyd5 {
  color: rgb(224, 60, 49);
    cursor: pointer;
    display: flex;
    padding: 20px 10px;
    font-weight: 600;
    border-bottom: 1px solid rgba(66, 66, 66, 0.337);
    justify-content: space-between;
}

.gyd5 > span {
  flex: 1 1 0%;
}









@media screen and (min-width:1280px) {
  .gyd2 {
    padding: 0px 25px;
    max-width: 1280px;
  }
}